@model PiranhaGator.ViewModels.SavesViewModel

<section>
    @Html.LabelFor(model => model.Fortitude)
    @Html.DisplayFor(model => model.Fortitude)
    
</section>
<section>
    @Html.LabelFor(model => model.Reflex)
    @Html.DisplayFor(model => model.Reflex)
    
</section>
<section>
    @Html.LabelFor(model => model.Will)
    @Html.DisplayFor(model => model.Will)    
</section>