@model PiranhaGator.ViewModels.SkillsViewModel

<h3>Skills</h3>
<section>
    @Html.LabelFor(model => model.Acrobatics)
    @Html.DisplayFor(model => model.Acrobatics)
</section>
<section>
    @Html.LabelFor(model => model.Athletics)
    @Html.DisplayFor(model => model.Athletics)
</section>
<section>
    @Html.LabelFor(model => model.Heal)
    @Html.DisplayFor(model => model.Heal)
</section>
<section>
    @Html.LabelFor(model => model.Perception)
    @Html.DisplayFor(model => model.Perception)
</section>
<section>
    @Html.LabelFor(model => model.Stealth)
    @Html.DisplayFor(model => model.Stealth)
</section>
<section>
    @Html.LabelFor(model => model.Thievery)
    @Html.DisplayFor(model => model.Thievery)
</section>
